---
description: Social media URLs, for generating `rel="me"` links to prove ownership for verification by 3rd-party sites
data:
  - https://front-end.social/@ashur
  - https://github.com/ashur
  - https://mastodon.social/@ashur
version: 1
---
