---
deprecated: true
description: User-agent strings, for generating `robots.txt` files
response:
  data:
    - CCBot
    - ChatGPT-User
    - FacebookBot
    - Google-Extended
    - GPTBot
    - Omgili
    - Omgilibot
unlisted: true
version: 1
---
