---
description: User-agent strings for generating `robots.txt` files
response:
  disallow:
    - anthropic-ai
    - Applebot-Extended
    - Bytespider
    - CCBot
    - ChatGPT-User
    - cohere-ai
    - FacebookBot
    - Google-Extended
    - GPTBot
    - Omgili
    - Omgilibot
version: 2
---
{# v2 uses a new top-level property `disallow`, which opens up the possibilty of
   adding additional scopes in future non-breaking versions #}
