---
description: Comments
response:
  comments:
    - "(C)(S)(S)(4) (E)(V)(E)(R)"
    - "(H)(T)(M)(L) (4)(E)(V)(A)"
    - "Built with Eleventy 🎈"
    - "Built with Nova 🌠"
    - "Made in PDX 🌲"
    - "who called ’em dad jokes instead of popcorn 🍿"
    - "who called ’em rhinestones instead of shamrocks 💎"
    - "who called ’em döner kebabs instead of gyros in a half shell 🐢"
unlisted: true
version: 1
---
