<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>

	<style>
		body {
			--border: solid color-mix(in hsl, currentcolor 12%, currentcolor 0%) 2px;
			--ff-sans: system-ui, sans-serif;

			color: #444;
			font-family: var(--ff-sans);
			line-height: 1.5;
			margin: 0;
			padding: min(3rem, 8vw);
		}

		a {
			color: inherit;
		}

		dl {
			font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
			margin-block: 0;
		}

		dl a {
			border-bottom: var(--border);
			text-decoration: none;
		}

		dl a:hover {
			border-bottom-color: color-mix(in hsl, currentcolor 25%, currentcolor 0%);
		}

		dl .metadata {
			color: teal;
			display: block;
			font-size: 0.875em;
			margin-top: 0.5em;
		}

		dd {
			line-height: inherit;
			margin-inline-start: 2em;
		}

		dd code {
			background-color: color-mix(in hsl, currentcolor 5%, currentcolor 0%);
			font-family: inherit;
			font-size: inherit;
		}

		dt {
			font-weight: 700;
		}

		h1 {
			font-weight: 600;
			margin-block: 1em;
		}

		hr {
			border: none;
			border-top: var(--border);
			margin-block: 2rem;
		}

		main {
			margin-inline: auto;
			max-width: 64ch;
		}

		p:has(small) {
			line-height: 1.2;
		}

		.badge {
			background-color: blanchedalmond;
			border-radius: 0.5em;
			color: sienna;
			font-size: 0.875em;
			font-weight: normal;
			padding-block: 0.25em;
			padding-inline: 0.5em;
		}

		.stack > * + * {
			margin-top: var(--space-stack, 1em);
		}

		.stack-lg > * + * {
			margin-top: var(--space-stack-lg, 2.5em);
		}
	</style>
</head>
<body>
	{{ content | safe }}
</body>
</html>
