<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>

	<style>
		body {
			color: #444;
			font-family: system-ui, sans-serif;
			line-height: 1.5;
			margin: 0;
			padding: min(3rem, 8vw);
		}

		dl {
			font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
			margin-block: 0;
		}

		dl a {
			border-bottom: solid color-mix(in hsl, currentcolor 12%, currentcolor 0%) 2px;
			color: inherit;
			text-decoration: none;
		}

		dl a:hover {
			border-bottom-color: color-mix(in hsl, currentcolor 25%, currentcolor 0%);
		}

		dl .metadata {
			display: block;
			margin-top: 0.5em;
			opacity: 0.66;
		}

		dd {
			line-height: inherit;
		}

		dd code {
			background-color: color-mix(in hsl, currentcolor 5%, currentcolor 0%);
			font-family: inherit;
			font-size: inherit;
		}

		dt {
			font-weight: 600;
		}

		h1 {
			font-weight: 600;
			margin-block: 1em;
		}

		main {
			margin-inline: auto;
			max-width: 64ch;
		}

		.stack > * + * {
			margin-top: var(--space-stack, 1em);
		}

		.stack-lg > * + * {
			margin-top: var(--space-stack-lg, 2em);
		}
	</style>
</head>
<body>
	{{ content | safe }}
</body>
</html>
