---
description: Social media URLs for generating `rel="me"` links to verify website ownership
response:
  links:
    - https://front-end.social/@ashur
    - https://github.com/ashur
    - https://mastodon.social/@ashur
    - https://glitch.com/@ashur
version: 2
---
{# v2 uses a new top-level property `links` instead of the generic `data` #}
