---
layout: layouts/base.html.njk
---
<main>
	<h1>{{ site.title }}</h1>
	<dl class="stack-lg">
	{%- for endpoint in collections.endpoints -%}
		{%- if not endpoint.data.private -%}
			<div class="stack">
				<dt><a href="{{ endpoint.url }}">{{ endpoint.url }}</a></dt>
				<dd>
					{%- if endpoint.data.description -%}
						{{ endpoint.data.description | renderMarkdown | safe }}
					{%- endif -%}

					<span class="metadata">Updated {{ endpoint.page.date.toLocaleString('en-US', {
						year: "numeric",
						month: "short",
						day: "numeric"
					} ) }}</span>
				</dd>
			</div>
		{%- endif -%}
	{%- endfor -%}
	</dl>
</main>
