---
description: Example of a versioned endpoint whose structure change necessitated a major version bump
response:
  colors:
    - red
    - orange
    - yellow
    - green
    - blue
    - indigo
    - violet
unlisted: true
version: 2
---
